
.layout{

  display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
flex-direction: row;
   margin-top: 3rem;
  width: 100%;
  overflow: scroll;
    scrollbar-width: thin;
  }
  .layout::-webkit-scrollbar {
    width: 15px;
  }
   
  .layout::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .layout::-webkit-scrollbar-thumb {
    background-color: rgb(4, 134, 221);
    
  }